{% load static %}
{% block container %}
<!-- DAILY STATS SECTION -->
  <section class="section section-daily-stats center">
    <div class="row">
      <div class="col l3 m6 s12">
        <div class="card-panel red lighten-1 white-text center">
          <i class="material-icons medium">show_chart</i>
          <h5>Visitors Today</h5>
          <h3 class="count">114893</h3>
          <div class="progress grey lighten-1">
            <div class="determinate white" style="width:60%;"></div>
          </div>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="card-panel red lighten-5 center">
          <i class="material-icons medium">person_add</i>
          <h5>New Users</h5>
          <h3 class="count">1203</h3>
          <div class="progress grey lighten-1">
            <div class="determinate red lighten-1" style="width:35%;"></div>
          </div>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="card-panel red lighten-1 white-text center">
          <i class="material-icons medium">assignment</i>
          <h5>New Posts</h5>
          <h3 class="count">2867</h3>
          <div class="progress grey lighten-1">
            <div class="determinate white" style="width:80%;"></div>
          </div>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <div class="card-panel red lighten-5 center">
          <i class="material-icons medium">comment</i>
          <h5>New Comments</h5>
          <h3 class="count">6931</h3>
          <div class="progress grey lighten-1">
            <div class="determinate red lighten-1" style="width:50%;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- GRAPH FOR MONTHLY VISITORS AND PENDING POSTS -->
  <section class="section section-visitors-posts">
    <div class="row">
      <!-- GRAPH -->
      <div class="col l8 m6 s12">
        <div class="card-panel">
          <div id="usersChart" style="height:370px; width:100%;"></div>
        </div>
      </div>
      <!-- PENDING POSTS -->
      <div class="col l4 m6 s12">
        <ul class="collection with-header pending-posts">
          <li class="collection-header">
            <h5>Posts Waiting For Approval</h5>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person1.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Jane Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view blue-text">View</a> |
            <a href="#" class="approve green-text">Approve</a> |
            <a href="#" class="deny red-text">Deny</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person2.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Alan Taylor</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view blue-text">View</a> |
            <a href="#" class="approve green-text">Approve</a> |
            <a href="#" class="deny red-text">Deny</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person3.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Susan Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view blue-text">View</a> |
            <a href="#" class="approve green-text">Approve</a> |
            <a href="#" class="deny red-text">Deny</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person3.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Susan Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view blue-text">View</a> |
            <a href="#" class="approve green-text">Approve</a> |
            <a href="#" class="deny red-text">Deny</a>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <!-- REPORTED USERS AND REVENUE GRAPH -->
  <section class="section section-reports-revenue">
    <div class="row">
      <!-- REPORTED USERS -->
      <div class="col l4 m6 s12">
        <ul class="collection with-header pending-posts">
          <li class="collection-header">
            <h5>Reported users</h5>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person1.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Jane Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view-report blue-text">View report</a> |
            <a href="#" class="dismiss-report green-text">Dismiss</a> |
            <a href="#" class="ban-user red-text">Ban</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person2.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Alan Taylor</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view-report blue-text">View report</a> |
            <a href="#" class="dismiss-report green-text">Dismiss</a> |
            <a href="#" class="ban-user red-text">Ban</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person3.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Susan Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view-report blue-text">View report</a> |
            <a href="#" class="dismiss-report green-text">Dismiss</a> |
            <a href="#" class="ban-user red-text">Ban</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person3.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Susan Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="view-report blue-text">View report</a> |
            <a href="#" class="dismiss-report green-text">Dismiss</a> |
            <a href="#" class="ban-user red-text">Ban</a>
          </li>
        </ul>
      </div>
      <!-- REVENUE -->
      <div class="col l8 m6 s12">
        <div class="card-panel">
          <div id="revenueChart" style="height:370px; width:100%;"></div>
        </div>
      </div>
    </div>
  </section>


  <!-- INBOX AND TODO LIST -->
  <section class="section secion-inbox-todo">
    <div class="row">
      <div class="col l6 m6 s12">
        <ul class="collection with-header inbox">
          <li class="collection-header">
            <h5>Inbox</h5>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person1.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Jane Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="read-message blue-text">Read</a> |
            <a href="#" class="delete-message red-text">Delete</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person2.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Alan Taylor</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="read-message blue-text">Read</a> |
            <a href="#" class="delete-message red-text">Delete</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person1.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Susan Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="read-message blue-text">Read</a> |
            <a href="#" class="delete-message red-text">Delete</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person3.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Susan Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="read-message blue-text">Read</a> |
            <a href="#" class="delete-message red-text">Delete</a>
          </li>
          <li class="collection-item avatar">
            <img src="{% static 'img/person3.jpg' %}" alt="Avatar 1" class="circle"/>
            <span class="title">Susan Doe</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero sunt non error animi quibusdam velit eos
              ut soluta blanditiis, et eius minima repellat nostrum, in perferendis porro? Rerum, voluptate.</p>
            <a href="#" class="read-message blue-text">Read</a> |
            <a href="#" class="delete-message red-text">Delete</a>
          </li>
        </ul>
      </div>
      <div class="col l6 m6 s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Todo List</span>
            <form id="todo-form">
              <div class="input-field">
                <input type="text" id="todo" placeholder="Add Task...">
              </div>
            </form>
            <ul class="collection todos">
              <li class="collection-item">
                <div>Todo One
                  <a href="#!" class="secondary-content delete">
                    <i class="material-icons red-text">close</i>
                  </a>
                </div>
              </li>
              <li class="collection-item">
                <div>Todo Two
                  <a href="#!" class="secondary-content delete">
                    <i class="material-icons red-text">close</i>
                  </a>
                </div>
              </li>
              <li class="collection-item">
                <div>Todo Three
                  <a href="#!" class="secondary-content delete">
                    <i class="material-icons red-text">close</i>
                  </a>
                </div>
              </li>
              <li class="collection-item">
                <div>Todo Four
                  <a href="#!" class="secondary-content delete">
                    <i class="material-icons red-text">close</i>
                  </a>
                </div>
              </li>
              <li class="collection-item">
                <div>Todo Five
                  <a href="#!" class="secondary-content delete">
                    <i class="material-icons red-text">close</i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}