{% block container %}
<section class="section section-stats center">

    <div class="row">
        <div class="col s3 m3">
            <div class="card blue lighten-1 white-text center">
                <i class="material-icons medium">person</i>
                <h5>Clientes</h5>
                <h3 class="count">465</h3>
                <div class="progress grey lighten-1">
                    <div class="determinate white" style="width: 40%;"></div>
                </div>
            </div>
        </div>

        <div class="col s3 m3">
            <div class="card center">
                <i class="material-icons medium">person_pin</i>
                <h5>Filiais</h5>
                <h3 class="count">17</h3>
                <div class="progress grey lighten-1">
                    <div class="determinate blue lighten-1" style="width: 20%;"></div>
                </div>
            </div>
        </div>

        <div class="col s3 m3">
            <div class="card blue lighten-1 white-text center">
                <i class="material-icons medium">mode_edit</i>
                <h5>Atendimentos</h5>
                <h3 class="count">28300</h3>
                <div class="progress grey lighten-1">
                    <div class="determinate white" style="width: 60%;"></div>
                </div>
            </div>
        </div>

        <div class="col s3 m3">
            <div class="card center">
                <i class="material-icons medium">people</i>
                <h5>Visitantes</h5>
                <h3 class="count">525</h3>
                <div class="progress grey lighten-1">
                    <div class="determinate blue lighten-1" style="width: 90%;"></div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}