{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block css %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!--O PROBLEMA É O CSS MATERIAL ABAIXO QUE NÃO FUNCIONA COM JQUERY-->
        {% include 'material/includes/material_css.html' %}

        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">

    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PESQUISA</title>

    <link rel="shortcut icon" type="image/png" href="https://alterdata.com.br/templates/yoo_master2/favicon.ico"/>
<!--    <link rel="shortcut icon" type="image/png" href="{% static 'img/icon_alterdata.png' %}"/>-->
</head>

<body>

    <!-- Dropdown Structure -->
    <ul id="drp_clientes" class="dropdown-content">
      <li><a class="black-text darken-4" href="{% url 'person_client_create' %}"><i class="material-icons">person</i>Novo Cliente</a></li>
      <li><a class="black-text darken-4"  href="{% url 'person_client_list' %}"><i class="material-icons">format_list_bulleted</i>Lista Clientes</a></li>
      <li class="divider"></li>
      <li><a class="black-text darken-4"  href="#!">em breve...</a></li>
    </ul>

    <ul id="drp_financeiro" class="dropdown-content">
      <li><a class="black-text darken-4" href="{% url 'financeiro_create' %}"><i class="material-icons">monetization_on</i>Novo Titulo</a></li>
      <li><a class="black-text darken-4"  href="{% url 'financeirot_list' %}"><i class="material-icons">attach_money</i>Lista Titulos</a></li>
      <li class="divider"></li>
      <li><a class="black-text darken-4"  href="#!">em breve...</a></li>
    </ul>

    <ul id="drp_questions" class="dropdown-content">
      <li><a class="black-text darken-4"  href="{% url 'question_create' %}"><i class="material-icons">question_answer</i>Cadastrar nova Pergunta</a></li>
      <li><a class="black-text darken-4"  href="{% url 'question_list' %}"><i class="material-icons">format_list_bulleted</i>Lista de Perguntas</a></li>
      <li class="divider"></li>
      <li><a class="black-text darken-4"  href="#!">em breve...</a></li>
    </ul>

    <ul id="drp_representative" class="dropdown-content">
      <li><a class="black-text darken-4"  href="{% url 'person_representative_create' %}"><i class="material-icons">person_pin</i>Novo Representante</a></li>
      <li><a class="black-text darken-4"  href="{% url 'person_representative_list' %}"><i class="material-icons">format_list_bulleted</i>Lista Representantes</a></li>
      <li class="divider"></li>
      <li><a class="black-text darken-4"  href="#!">em breve...</a></li>
    </ul>

    <ul id="drp_crm" class="dropdown-content">
      <li><a class="black-text darken-4"  href="{% url 'accounts:work_schedule_create' %}"><i class="material-icons">date_range</i>Cadastro Ficha</a></li>
      <li class="divider"></li>
      <li><a class="black-text darken-4"  href="{% url 'atendimento_list' %}"><i class="material-icons">format_list_bulleted</i>Lista de atendimentos</a></li>
      <li><a class="black-text darken-4"  href="{% url 'accounts:work_schedule_list' %}"><i class="material-icons">format_list_bulleted</i>Listar Fichas</a></li>
      <li><a class="black-text darken-4"  href="#!">em breve...</a></li>
    </ul>

    <!--NAVBAR-->
    <nav class="#fafafa grey lighten-5 col s12 m6">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large black-text darken-4"><i class="material-icons">menu</i></a>
            <img src="{% static 'img/logo_alterdata.svg' %}" alt="" class="img-logo"/>
<!--        <a href="" class="brand-logo">Alterdata Filiais</a>-->
            <ul class="right hide-on-med-and-down ">
                <li><a class="dropdown-trigger black-text darken-4" href="#!" data-target="drp_clientes">Clientes<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger black-text darken-4" href="#!" data-target="drp_financeiro">Financeiro<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger black-text darken-4" href="#!" data-target="drp_questions">Pesquisa<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger black-text darken-4" href="#!" data-target="drp_representative">Representantes<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger black-text darken-4" href="#!" data-target="drp_crm">CRM<i class="material-icons right">arrow_drop_down</i></a></li>

                {% if user.is_authenticated %}
                    <li><a class="black-text darken-4" href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="black-text darken-4" href="{% url 'accounts:register' %}">Cadastre-se</a></li>
                    <li><a class="black-text darken-4" href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--SIDENAV-->
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{% static 'img/ocean.jpg' %}" alt=""/>
                </div>

                <img src="{% static 'img/homem.png' %}" alt="" class="circle"/>
                <a href="#name"><span class="black-text darken-4 name">John Doe</span></a>
                <a href="#email"><span class="black-text darken-4 email">jdandturk@gmail.com</span></a>
            </div>
        </li>

        <li><a class="black-text darken-4" href="{% url 'person_client_create' %}"><i class="material-icons">perm_identity</i>Cliente</a></li>
        <li><a class="black-text darken-4" href="{% url 'person_client_list' %}"><i class="material-icons">list</i>Lista Clientes</a></li>
        <li><a class="black-text darken-4" href="{% url 'question_create' %}"><i class="material-icons">question_answer</i>Cadastrar nova Pergunta</a></li>
        <li><a class="black-text darken-4" href="{% url 'question_list' %}"><i class="material-icons">question_answer</i>Lista de Perguntas</a></li>
        <li><a class="black-text darken-4" href="{% url 'accounts:work_schedule_create' %}"><i class="material-icons">date_range</i>Cadastro Ficha</a></li>
        <li><a class="black-text darken-4" href="#!">Em breve...</a></li>
        <li><div class="divider"></div></li>
        <li><a class="black-text darken-4" class="subheader">Subheader</a></li>
        <li><a class="black-text darken-4" class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>

    <div class="section section-daily-stats center">

        <!--BLOCO SECTION   -->
        {% block section %}

        {% endblock section %}
    </div>

    <div class="container">

        <!--BLOCO CONTAINER   -->
        {% block container %}

        {% endblock container %}
    </div>

    <!-- FOOTER -->
    <!-- style="position:fixed;bottom:0;left:0;width:100%;" -->
    <footer class="section #fafafa grey lighten-5 black-text center">
        <p>Alterdata Copyright &copy; 2018</p>
    </footer>


    <!-- FAB BOTAO -->
<!--    <div class="fixed-action-btn">-->
<!--        <a class="btn-floating btn-large red">-->
<!--          <i class="material-icons">add</i>-->
<!--        </a>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <a href="#modal-announcment" class="modal-trigger btn-floating yellow darken-3">-->
<!--              <i class="material-icons">mode_edit</i>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--    </div>-->


    <!-- ANNOUCNMENT MODAL -->
    <div id="modal-announcment" class="modal">
    <div class="modal-content">
      <h4>Add Announcment</h4>
      <form>
        <div class="input-field">
          <input type="text" id="title">
          <label for="title">Title</label>
        </div>
        <div class="input-field">
          <select>
            <option value="" selected disabled>Select Option</option>
            <option value="1">General announcment</option>
            <option value="2">News</option>
            <option value="3">Promotions</option>
            <option value="4">Other</option>
          </select>
          <label>Category</label>
        </div>
        <div class="input-field">
          <textarea name="body" id="body" class="materialize-textarea"></textarea>
          <label for="body"></label>
        </div>
      </form>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn yellow darken-3 black-text">Submit</a>
      </div>
    </div>
    </div>



    <!-- PRELOADER -->
    <div class="loader preloader-wrapper big active">
    <div class="spinner-layer spinner-red only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
    </div>

    {% block js %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="{% static 'js/jquery.mtz.monthpicker.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
        <script src="{% static 'js/charts.js' %}"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>



    <!-- Compiled and minified JQuery -->
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>-->

        <!-- Compiled and minified JavaScript -->
        {% include 'material/includes/material_js.html' %}

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>

            // HIDE EVERYTHING ON OPEN
            $(".section").hide();
            setTimeout(() => {
              $(document).ready(() => {

                // SHOW HIDDEN SECTIONS
                $(".section").fadeIn();

                // PRELOADER
                $(".loader").fadeOut();

                // SIDE DRAWER
                $(".button-collapse").sideNav();

                // MODAL
                $(".modal").modal();

                // SELECT
                $(".select").material_select();

                // COUNTER - Animates the Daily Stats section
                $(".count").each(function () {
                  $(this).prop("Counter", 0).animate({
                    Counter: $(this).text()
                  }, {
                      duration: 1000,
                      easing: "swing",
                      step: function (now) {
                        $(this).text(Math.ceil(now));
                      }
                    });
                });

                // PENDING POSTS
                $(".view").click(function (e) {
                  Materialize.toast("Here is the comment", 3000);
                  e.preventDefault();
                });

                $(".approve").click(function (e) {
                  Materialize.toast("Comment Approved", 3000);
                  e.preventDefault();
                });
                $(".deny").click(function (e) {
                  Materialize.toast("Comment Denied", 3000);
                  e.preventDefault();
                });

                // USER REPORTS
                $(".view-report").click(function (e) {
                  Materialize.toast("Here is the report", 3000);
                  e.preventDefault();
                });

                $(".dismiss-report").click(function (e) {
                  Materialize.toast("Report dismissed", 3000);
                  e.preventDefault();
                });

                $(".ban-user").click(function (e) {
                  Materialize.toast("User banned!", 3000);
                  e.preventDefault();
                });

                // INBOX
                $(".read-message").click(function (e) {
                  Materialize.toast("Here is your message", 3000);
                  e.preventDefault();
                });

                $(".delete-message").click(function (e) {
                  Materialize.toast("Message deleted!", 3000);
                  e.preventDefault();
                });

                // TODO LIST
                $("#todo-form").submit(function (e) {
                  const output = `
                  <li class="collection-item">
                        <div>${$("#todo").val()}
                          <a href="#!" class="secondary-content delete">
                            <i class="material-icons red-text">close</i>
                          </a>
                        </div>
                      </li>`;
                  $(".todos").append(output);
                  Materialize.toast("Todo Added", 3000);
                  e.preventDefault();
                });

                // DELETE TODO ITEM
                $(".todos").on("click", ".delete", function (e) {
                  $(this).parent().parent().remove();
                  Materialize.toast("Todo Removed", 3000);
                  e.preventDefault();
                });

                CKEDITOR.replace("body");


              });
            }, 1000);

        </script>

        <script>
            jQuery.datetimepicker.setLocale('pt-BR');

            jQuery('#datetimepicker1').datetimepicker({
             i18n:{
              de:{
               months:[
                'Janeiro','Fevereiro','Março','Abril',
                'Maio','Junho','Julho','Agosto',
                'Setembro','Outubro','Novembro','Dezembro',
               ],
               dayOfWeek:[
                "Dom.", "Seg", "Ter", "Qua",
                "Qui", "Sex", "Sab",
               ]
              }
             },
             timepicker:false,
             format:'d.m.Y'
            });
        </script>

        <script>
                $(document).ready(function(){

                    //MATERIALIZE
                    $('.count').each(function(){
                        $(this).prop('Counter', 0).animate({
                            Counter: $(this).text()
                        }, {
                            duration: 1500,
                            easing: 'swing',
                            step: function(now){
                                $(this).text(Math.ceil(now));
                            }
                        });
                    })
                    $('.sidenav').sidenav({
                        //edge: 'right'
                    });
                    $('.tabs').tabs();
                    $('.dropdown-trigger').dropdown({ hover: true,
                                                      constrainWidth: false,
                                                      coverTrigger: false });
                    $('.fixed-action-btn').floatingActionButton();
                    $('.datepicker').datepicker(
                        {
                            showClearBtn:false,
                            autoClose:true,
                            setDefaultDate:true,
                            //POSSO SETAR 01/mm/yyyy OU REMOVER ESSE CAMPO DO MODELO E PREENCHER COM SIGNALS
                            format: 'dd/mm/yyyy',
                                i18n: {
                                    months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                                    monthsShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                                    weekdays: ["Domingo","Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"],
                                    weekdaysShort: ["Dom","Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                                    weekdaysAbbrev: ["D","S", "T", "Q", "Q", "S", "S"]
                                }
                            }
                        ).setLocale('pt-BR');

                    // JQUERY MTZ.MONTHPICKER
                    //https://www.jqueryscript.net/time-clock/jQuery-Plugin-For-jQuery-UI-Month-Year-Picker-mtz-monthpicker.html



                    $('.monthpicker').monthpicker({
                        pattern: 'mm/yyyy',
                        monthNames: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    });
                });


        </script>
        <script src="{% static '/js/cep.js' %}"></script>
    {% endblock %}

</body>

</html>
