{% extends "index.html" %}
{% load static %}
{% load material_form %}


<!--BLOCO NAV_MENU   -->
<!--BLOCO CRIADO PARA LISTAR APENAS NENUS REFERENTE AOS CLIENTES E ALTERAR ICONE DO SISTEMA NA PARTE SUPERIOR-->
{% block nav_menu %}
    {% include "person_index_include.html" %}
{% endblock nav_menu %}

{% block container %}

    <div class="black card larger" id="card-radius">
        <div class="card-content">
          <div class="black card-panel #424242 center" id="title-panel">
              <strong>Use o menu no canto superior esquerdo para navegar específicamente neste Cliente</strong>
          </div>
        </div>

    </div>

{% endblock %}

{% block footer %}
    <!-- FOOTER -->
    <!-- style="position:fixed;bottom:0;left:0;width:100%;" -->
    <footer class="section #fafafa grey lighten-5 black-text center" style="position:fixed;bottom:0;left:0;width:100%;">
        <p>Alterdata Copyright &copy; 2018</p>
    </footer>
{% endblock footer %}