{% load static %}
{% load material_form %}

            <!-- Dropdown Structure -->
            <ul id="drp_clientes" class="dropdown-content">
              <li><a class="black white-text darken-4" href="{% url 'person_client_create' %}"><i class="material-icons">person</i>Novo Cliente</a></li>
              <li><a class="black white-text darken-4"  href="{% url 'person_client_list' %}"><i class="material-icons">format_list_bulleted</i>Lista Clientes</a></li>
              <li class="divider"></li>
              <li><a class="black white-text darken-4"  href="#!">em breve...</a></li>
            </ul>

             <ul id="drp_crm" class="dropdown-content">
              <li><a class="black white-text darken-4"  href="{% url 'accounts:work_schedule_create' %}"><i class="material-icons">date_range</i>Cadastro Ficha</a></li>
              <li class="divider"></li>
              <li><a class="black white-text darken-4"  href="{% url 'atendimento_list' %}"><i class="material-icons">format_list_bulleted</i>Lista de atendimentos</a></li>
              <li><a class="black white-text darken-4"  href="{% url 'accounts:work_schedule_list' %}"><i class="material-icons">format_list_bulleted</i>Listar Fichas</a></li>
              <li><a class="black white-text darken-4"  href="#!">em breve...</a></li>
            </ul>

            <!--NAVBAR-->
            <nav class="#fafafa black lighten-5 col s12 m6">
                <div class="nav-wrapper">
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large white-text darken-4"><i class="material-icons">menu</i></a>
                    {{client.name}}
        <!--        <a href="" class="brand-logo">Alterdata Filiais</a>-->
                    <ul class="right hide-on-med-and-down ">
                        <li><a class="dropdown-trigger white-text darken-4" href="#!" data-target="drp_clientes">Clientes<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a class="dropdown-trigger white-text darken-4" href="#!" data-target="drp_crm">CRM<i class="material-icons right">arrow_drop_down</i></a></li>

                        {% if user.is_authenticated %}
                            <li><a class="white-text darken-4" href="{% url 'accounts:logout' %}">Logout</a></li>
                        {% else %}
                            <li><a class="white-text darken-4" href="{% url 'accounts:register' %}">Cadastre-se</a></li>
                            <li><a class="white-text darken-4" href="{% url 'accounts:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <!--SIDENAV-->
            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="{% static 'img/ocean.jpg' %}" alt=""/>
                        </div>
                        {% if user.is_authenticated %}
                            <img src="{% static 'img/homem.png' %}" alt="" class="circle"/>
                            <a href="#name"><span class="white-text darken-4 name">{{ user }}</span></a>
                            <a href="#email"><span class="white-text darken-4 email">{{ user.email }}</span></a>
                        {% else %}
                            <img src="{% static 'img/homem.png' %}" alt="" class="circle"/>
                            <li><a class="white-text darken-4" href="{% url 'accounts:register' %}">Cadastre-se</a></li>
                            <li><a class="white-text darken-4" href="{% url 'accounts:login' %}">Login</a></li>
                        {% endif %}
                    </div>
                </li>

<!--            Problema é que não consigo enviar client.id em pk=client.id, após criar o contexto client na view deu certo -->
                <li><a class="black white-text darken-4" href="{% url 'person_client_create' %}"><i class="material-icons">person_add</i>Novo Cliente</a></li>
                <li><a class="black white-text darken-4" href="{% url 'person_client_update' pk=client.id  %}"><i class="material-icons">perm_identity</i>Editar Cliente</a></li>
                <li><a class="black white-text darken-4" href="{% url 'person_client_list' %}"><i class="material-icons">list</i>Lista Clientes</a></li>
                <li><a class="black white-text darken-4" href="#!">Em breve...</a></li>
                <li><div class="black divider"></div></li>

                <li><a class="black white-text darken-4" class="subheader">CRM</a></li>
                <li><a class="black white-text darken-4" class="waves-effect" href="{% url 'atendimento_create' pk=client.id %}"><i class="material-icons">recent_actors</i>Novo Atendimento</a></li>
                <li><a class="black white-text darken-4" class="waves-effect" href="{% url 'seach_create' pk=client.id %}"><i class="material-icons">record_voice_over</i>Nova Pesquisa</a></li>
                <li><a class="black white-text darken-4" class="waves-effect" href="{% url 'person_client_detail' pk=client.id %}"><i class="material-icons">list</i>Lista de Pesquisas</a></li>
                <li><div class="black divider"></div></li>

                <li><a class="black white-text darken-4" class="subheader">FINANCEIRO</a></li>
                <li><a class="black white-text darken-4" class="waves-effect" href="{% url 'financeirot_client_list' pk=client.id %}"><i class="material-icons">attach_money</i>Financeiro</a></li>
            </ul>
