{% extends "index.html" %}
{% load static %}
{% load material_form %}

{% block container %}
<div class="row">
  {% for consumo in consumidos %}
  <div class="col s12 m3 l3">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/preto.jpg' %}" alt="" class="img-responsive"/>
        <!-- <img src="http://placehold.it/285x160/000000/FFFFFF/" alt="" class="img-responsive"/> -->

        <!--{% if consumo.name == 'CERVEJA' %} -->
        <!--    <img src="{% static 'img/img/kaiser.jpg' %}" alt="" class="responsive-img"/> -->
        <!--{% elif consumo.name == 'CACHAÇA' %}    -->
        <!--    <img src="{% static 'img/img/ypioca-ouro-e-prata.jpg' %}" alt="" class="responsive-img"/> -->
        <!--{% else %}    -->
        <!--    <img src="{% static 'img/img/espetinho-frango.jpg' %}" alt="" class="responsive-img"/> -->
        <!--{% endif %} -->
        <span class="card-title"><strong>R$ {{ consumo.unit_price|floatformat:"2" }}</strong></span>
        <a href="{% url 'restaurant:consumo_create' id=consumo.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p><strong>{{ consumo.name|linebreaks }}</strong></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
