{% extends "index.html" %}
{% load static %}
{% load material_form %}


<!--BLOCO NAV_MENU   -->
<!--BLOCO CRIADO PARA LISTAR APENAS NENUS REFERENTE AOS CLIENTES E ALTERAR ICONE DO SISTEMA NA PARTE SUPERIOR-->
{% block nav_menu %}
    {% include "person_index_include.html" %}
{% endblock nav_menu %}

{% block container %}

    <div class="card larger" id="card-radius">
        <div class="card-panel indigo darken-4 center " id="empty-panel">
            <span class="white-text">CRIANDO NOVO ATENDIMENTO</span>
        </div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}

            <div class="card-content">
                <div class="card-panel #424242 grey darken-3 center" id="title-panel"><strong>{{client.name}}</strong></div>
                <!--<span class="card-title grey-text text-darken-2">Pessoa</span>-->
                {% form %}

                {% endform %}
            </div>

            <div class="card-action">
                <div class="right-align">
                    <button class="waves-effect waves-light btn" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
