{% extends "index.html" %}
{% load static %}
{% load material_form %}

{% block container %}

    <div class="card larger" id="card-radius">
        <div class="card-panel indigo darken-4 center " id="empty-panel">
            <span class="white-text">CRIAÇÃO DE TITULO FINANCEIRO</span>
        </div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}

            <div class="card-content">
                {% form %}

                {% endform %}
            </div>

            <div class="card-action">
                <div class="right-align">
                    <button class="waves-effect waves-light btn" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

