{% extends "index.html" %}
{% load static %}
{% load material_form %}
{% load financeiro_tags %}


{% block container %}

    <div class="card larger" id="card-radius">
        <div class="card-panel indigo darken-4 center " id="empty-panel">
            <span class="white-text">LISTA FINANCEIRO</span>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6 s11">
                        <i class="material-icons prefix">search</i>
                        <input id="searchInput" name="searchInput" type="text" class="validate" autofocus>
                        <label for="searchInput">Digite sua pesquisa aqui e tecle ENTER.</label>
                    </div>
                </div>
            </form>
        </div>
        <table class="highlight">
            <thead class="card-panel grey darken-3 center">
                <tr>
                    <th class="center-align white-text">CRM</th>
                    <th class="center-align white-text">Id.</th>
                    <th class="left-align white-text">Historico</th>
                    <th class="left-align white-text">Nome</th>
                    <th class="right-align white-text">Valor</th>
                    <th class="center-align white-text">Dt. Vencimento</th>
                    <th class="center-align white-text">Dt. Pagamento</th>
                </tr>
            </thead>


            {% for _, transacoes in contas %}
                {% for t in transacoes %}
                <tr>
                    <td class="center-align">
                        <a href="{% url 'core:person_client_home' pk=t.pessoa.id %}"><i class="material-icons prefix">home</i></a>
                    </td>
                    <td class="center-align">
                        <a href="{% url 'financeiro:financeiro_update' id=t.id %}">{{ t.id|linebreaks }}</a>
                    </td>
                    <td class="left-align">
                        {{ t.historico|linebreaks }}
                    </td>
                    <td class="left-align">
                        {{ t.pessoa|linebreaks }}
                    </td>
                    <td class="right-align">
                        {{ t.valor_vendido|floatformat:"2" }}
                    </td>
                    <td class="center-align">
                        {{ t.data_vencimento | date:"d/m/Y" }}
                    </td>

                    <td class="center-align">{{ t.data_pagamento | date:"d/m/Y"}}</td>
                </tr>
                {% empty %}
                    <div class="card-panel #424242 grey darken-3 center">NENHUM REGISTRO ENCONTRADO!</div>
                {% endfor %}

                <tr>
                   <td></td> <td></td> <td></td> <td class="right-align"><strong>Total do dia:</strong></td> <td class="right-align"><strong>{{ transacoes|totalizar }}</strong></td> <td>{% if transacoes|totalizar < 0 %}
                                                                                                                                                                                           <i class="material-icons prefix">arrow_downward</i>
                                                                                                                                                                                           {% elif transacoes|totalizar > 0 %}
                                                                                                                                                                                           <i class="material-icons prefix">arrow_upward</i>
                                                                                                                                                                                           {% else %}
                                                                                                                                                                                           <i class="material-icons prefix">autorenew</i>
                                                                                                                                                                                           {% endif %}</td> <td></td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}