/*DEFININDO FONTE DA FICHA*/

@font-face {
    font-family: 'DjangoITC';
    src: url("/static/fonts/VarianeScript/Variane Script.ttf");
}


/* CONTEÚDO DOS CAMPOS DA FICHA PREENCHIDA */
.personal-font{
    font-family: DjangoITC, fantasy;
    font-size: 1.01rem;
    color: red

}

body {
    padding: 0;
	margin: 0;
	color: #383838;
    font-family:Helvetica, sans-serif;
    line-height:1.2;
}

form{
	position: relative;
    margin-top: -11.5%;
}

.col_left {
    text-align:left;
}

.col_right {
    text-align:right;
}

.col_center {
    text-align:center;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
    margin:10px 0;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:1px;
    margin:0;
    border: 0.5px solid black;
}

tbody th, tr:nth-child(odd) {
    /*background:#efefef;*/
    text-align: center;
}


/* cabeçalho das colunas da tabela */
thead.cabecalho-tabela th, tbody tr.total {
    font-weight:bold;
    border: 1px solid black;
    text-align: center;
}



h1 {
    text-align: center;
	font-weight: 800;
	margin: 0px;
	font-size: 15px;
}


footer{
    display: block;
    position: absolute;
	bottom: 1;
    width:100%;
    margin-bottom: -11.5%;
    text-align: center;

}

/*.cl-3{*/
	/*width: 27.5%;*/
	/*float: left;*/
/*}*/
/*.cl-6{*/
	/*width: 45%;*/
	/*float: left;*/
/*}*/